In [104]:
import pandas as pd
import numpy as np

import cymetric as cym
from cymetric.root_metrics import root_metric

commissioningSeries = root_metric(name='CommissioningSeries')
decommissioningSeries = root_metric(name='DecommissioningSeries')

db = cym.dbopen('recycle.sqlite')
evaler = cym.Evaluator(db)

comm = evaler.eval('CommissioningSeries')
decomm = evaler.eval('DecommissioningSeries')

In [105]:
# comm.rename(columns={'EnterTime': 'Time'}, inplace=True)

In [106]:
# decomm.rename(columns={'ExitTime': 'Time'}, inplace=True)

In [113]:
lc = comm.pivot('EnterTime', 'Prototype')['Count']

In [116]:
ld = decomm.pivot('ExitTime', 'Prototype')['Count']

In [117]:
lwr_c = lc['lwr']

In [118]:
lwr_d = ld['lwr']

In [119]:
lwr = lwr_c.sub(lwr_d, fill_value=0)

In [126]:
lc1 = comm[comm['Prototype']=='lwr'].pivot('EnterTime', 'Prototype')['Count']

In [145]:
def q(table, col, value, time='Time'):
    return evaler.eval(table).pivot(time, col)[value]

In [134]:
c = q('CommissioningSeries', 'EnterTime', 'Prototype', 'Count')['lwr'].sub(q('DecommissioningSeries', 'ExitTime', 'Prototype', 'Count')['lwr'],fill_value=0)

In [147]:
c = q('CommissioningSeries', 'Prototype', 'Count', time='EnterTime')

In [148]:
d = q('DecommissioningSeries', 'Prototype', 'Count', time='ExitTime')

In [ ]:
lwr = c['lwr'].sub(d['lwr'])

In [139]:
lwr = c['lwr'].sub(d['lwr'], fill_value=0).fillna(value=0)

In [140]:
frx = c['frx'].sub(d['frx'], fill_value=0).fillna(value=0)

In [141]:
total = lwr.add(frx,fill_value=0)

In [142]:
total

0        0.0
1       40.0
3        1.0
39       1.0
75       1.0
111      1.0
147      1.0
183      1.0
204     -1.0
206     -2.0
219      1.0
221     -1.0
223     -2.0
240     -1.0
241     -1.0
242     -1.0
243     -1.0
255      1.0
257     -1.0
259     -1.0
264     -1.0
275     -1.0
276     -1.0
278     -1.0
291      1.0
293     -1.0
294     -1.0
300     -1.0
301     -1.0
327      1.0
        ...
661     -1.0
687      1.0
723      1.0
759      1.0
795      1.0
831      1.0
867      1.0
903      1.0
939      1.0
962     -1.0
964      1.0
975      1.0
998     -1.0
1000     1.0
1011     1.0
1035    -1.0
1037     1.0
1047     1.0
1070    -1.0
1072     1.0
1083     1.0
1107    -1.0
1109     1.0
1119     1.0
1142    -1.0
1144     1.0
1155     1.0
1178    -1.0
1180     1.0
1191     1.0
Length: 88, dtype: float64

In [64]:
lwr_c = comm[comm.Prototype == 'lwr'].pivot('Time', 'Prototype')['Count']

In [63]:
lwr_d = decomm[decomm.Prototype == 'lwr'].pivot('Time', 'Prototype')['Count']

In [59]:
frx_c = comm[comm.Prototype == 'frx'].pivot('Time', 'Prototype')['Count']

In [60]:
frx_d = decomm[decomm.Prototype == 'frx'].pivot('Time', 'Prototype')['Count']

In [68]:
decomm[decomm.Prototype=='lwr'].pivot('Time', 'Count')

                                      SimId  \
Count                                     1
Time
204    9c45f784-e68d-4943-99e0-1ac055dc7b3d
206                                     NaN
221    9c45f784-e68d-4943-99e0-1ac055dc7b3d
223                                     NaN
240    9c45f784-e68d-4943-99e0-1ac055dc7b3d
241    9c45f784-e68d-4943-99e0-1ac055dc7b3d
242    9c45f784-e68d-4943-99e0-1ac055dc7b3d
243    9c45f784-e68d-4943-99e0-1ac055dc7b3d
257    9c45f784-e68d-4943-99e0-1ac055dc7b3d
259    9c45f784-e68d-4943-99e0-1ac055dc7b3d
264    9c45f784-e68d-4943-99e0-1ac055dc7b3d
275    9c45f784-e68d-4943-99e0-1ac055dc7b3d
276    9c45f784-e68d-4943-99e0-1ac055dc7b3d
278    9c45f784-e68d-4943-99e0-1ac055dc7b3d
293    9c45f784-e68d-4943-99e0-1ac055dc7b3d
294    9c45f784-e68d-4943-99e0-1ac055dc7b3d
300    9c45f784-e68d-4943-99e0-1ac055dc7b3d
301    9c45f784-e68d-4943-99e0-1ac055dc7b3d
557    9c45f784-e68d-4943-99e0-1ac055dc7b3d
559    9c45f784-e68d-4943-99e0-1ac055dc7b3d
564    9c45f784-e68d-4943-99e0-1ac055dc7b3d
566    9c45f784-e68d-4943-99e0-1ac055dc7b3d
576    9c45f784-e68d-4943-99e0-1ac055dc7b3d
578    9c45f784-e68d-4943-99e0-1ac055dc7b3d
593    9c45f784-e68d-4943-99e0-1ac055dc7b3d
594    9c45f784-e68d-4943-99e0-1ac055dc7b3d
600    9c45f784-e68d-4943-99e0-1ac055dc7b3d
602    9c45f784-e68d-4943-99e0-1ac055dc7b3d
612    9c45f784-e68d-4943-99e0-1ac055dc7b3d
613    9c45f784-e68d-4943-99e0-1ac055dc7b3d
624    9c45f784-e68d-4943-99e0-1ac055dc7b3d
625    9c45f784-e68d-4943-99e0-1ac055dc7b3d
636    9c45f784-e68d-4943-99e0-1ac055dc7b3d
637    9c45f784-e68d-4943-99e0-1ac055dc7b3d
648    9c45f784-e68d-4943-99e0-1ac055dc7b3d
649    9c45f784-e68d-4943-99e0-1ac055dc7b3d
660    9c45f784-e68d-4943-99e0-1ac055dc7b3d
661    9c45f784-e68d-4943-99e0-1ac055dc7b3d

                                            Prototype
Count                                     2         1    2
Time
204                                     NaN       lwr  NaN
206    9c45f784-e68d-4943-99e0-1ac055dc7b3d       NaN  lwr
221                                     NaN       lwr  NaN
223    9c45f784-e68d-4943-99e0-1ac055dc7b3d       NaN  lwr
240                                     NaN       lwr  NaN
241                                     NaN       lwr  NaN
242                                     NaN       lwr  NaN
243                                     NaN       lwr  NaN
257                                     NaN       lwr  NaN
259                                     NaN       lwr  NaN
264                                     NaN       lwr  NaN
275                                     NaN       lwr  NaN
276                                     NaN       lwr  NaN
278                                     NaN       lwr  NaN
293                                     NaN       lwr  NaN
294                                     NaN       lwr  NaN
300                                     NaN       lwr  NaN
301                                     NaN       lwr  NaN
557                                     NaN       lwr  NaN
559                                     NaN       lwr  NaN
564                                     NaN       lwr  NaN
566                                     NaN       lwr  NaN
576                                     NaN       lwr  NaN
578                                     NaN       lwr  NaN
593                                     NaN       lwr  NaN
594                                     NaN       lwr  NaN
600                                     NaN       lwr  NaN
602                                     NaN       lwr  NaN
612                                     NaN       lwr  NaN
613                                     NaN       lwr  NaN
624                                     NaN       lwr  NaN
625                                     NaN       lwr  NaN
636                                     NaN       lwr  NaN
637                                     NaN       lwr  NaN
648                                     NaN       lwr  NaN
649                                     NaN       lwr  NaN
660                                     NaN       lwr  NaN
661                                     NaN       lwr  NaN

In [48]:
lwr_d

Prototype  lwr
Time
204          1
206          2
221          1
223          2
240          1
241          1
242          1
243          1
257          1
259          1
264          1
275          1
276          1
278          1
293          1
294          1
300          1
301          1
557          1
559          1
564          1
566          1
576          1
578          1
593          1
594          1
600          1
602          1
612          1
613          1
624          1
625          1
636          1
637          1
648          1
649          1
660          1
661          1

In [49]:
lwr_c - lwr_d

Prototype  lwr
Time
1          NaN
204        NaN
206        NaN
221        NaN
223        NaN
240        NaN
241        NaN
242        NaN
243        NaN
257        NaN
259        NaN
264        NaN
275        NaN
276        NaN
278        NaN
293        NaN
294        NaN
300        NaN
301        NaN
557        NaN
559        NaN
564        NaN
566        NaN
576        NaN
578        NaN
593        NaN
594        NaN
600        NaN
602        NaN
612        NaN
613        NaN
624        NaN
625        NaN
636        NaN
637        NaN
648        NaN
649        NaN
660        NaN
661        NaN

In [149]:
class Foo():
    pass

In [150]:
isinstance(None, Foo )

False